In [1]:
!pip install pyspark

Collecting pyspark
  Using cached pyspark-3.3.1-py2.py3-none-any.whl
Collecting py4j==0.10.9.5
  Using cached py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [6]:
import pyspark
from pyspark.sql import SparkSession

In [14]:
spark=SparkSession.builder.appName("MOCK_DATA.csv").getOrCreate()

In [15]:
spark

In [30]:
#reading the dataset 
df_pyspark=spark.read.option('header','true').csv('MOCK_DATA.csv',inferSchema=True)

In [31]:
#check the data schema 
df_pyspark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [32]:
df_spark=spark.read.csv("MOCK_DATA.csv",header =True,inferSchema=True)

In [33]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|145.255.246.166|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender| 247.13.134.128|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female| 108.128.91.174|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|  171.17.172.62|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|  177.22.46.137|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|  226.51.108.38|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|   54.29.137.68|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female| 238.24.194.134|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male| 131.168.221.50|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|113.215.167.138|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male| 167.231.45.104|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female| 114.154.85.226|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|   99.29.99.168|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|238.240.163.120|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|    72.51.37.98|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|239.109.234.212|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|   32.64.11.146|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|237.250.119.237|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|120.116.181.245|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male| 223.137.167.74|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [35]:
df_spark.columns

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address']

In [36]:
df_spark.head()

Row(id=1, first_name='Ava', last_name='Ede', email='aede0@discovery.com', gender='Genderqueer', ip_address='145.255.246.166')

In [44]:
df_pyspark.select("last_name").tail(5)

[Row(last_name='Fromant'),
 Row(last_name='Giampietro'),
 Row(last_name='Purvis'),
 Row(last_name='McNirlan'),
 Row(last_name='Sprankling')]

In [40]:
df_pyspark.select("first_name").show()

+----------+
|first_name|
+----------+
|       Ava|
|   Marylin|
|     Caryn|
|   Danella|
|    Lesley|
|   Guthrie|
|    Kaylee|
|  Celestia|
|       Kim|
|      Nona|
|       Joe|
|     Tonie|
|     Arlen|
|       Lee|
|      Toni|
|     Salli|
|     Karil|
|   Jourdan|
|     Costa|
|    Delmer|
+----------+
only showing top 20 rows

In [46]:
#picking  multiple columns 
df_spark.select(["last_name","first_name"]).show()

+-----------+----------+
|  last_name|first_name|
+-----------+----------+
|        Ede|       Ava|
|    Riggott|   Marylin|
|      Seals|     Caryn|
| MacConnell|   Danella|
|  Crookston|    Lesley|
|   Coppock.|   Guthrie|
|    Claxton|    Kaylee|
|     Aldren|  Celestia|
|   Alenikov|       Kim|
|     Menloe|      Nona|
|  Aynscombe|       Joe|
|     Riches|     Tonie|
|     Gwyllt|     Arlen|
|   Groneway|       Lee|
|   Dombrell|      Toni|
|Marchington|     Salli|
|      Tyler|     Karil|
|   Chrystie|   Jourdan|
|     Le Leu|     Costa|
|      Aizik|    Delmer|
+-----------+----------+
only showing top 20 rows

In [50]:
df_pyspark["last_name"]

Column<'last_name'>

In [52]:
df_pyspark.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('gender', 'string'),
 ('ip_address', 'string')]