In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in ./anaconda3/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in ./anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName("MOCK_DATA.csv").getOrCreate()

In [13]:
spark

In [14]:
df_pyspark = spark.read.csv("MOCK_DATA.csv")

In [15]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [93]:
spark.read.option("header","true").csv("MOCK_DATA.csv",inferSchema=True)

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head()

Row(_c0='id', _c1='first_name', _c2='last_name', _c3='email', _c4='gender', _c5='ip_address')

In [20]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [61]:
df_pyspark = spark.read.csv("MOCK_DATA.csv", header =True, inferSchema= True)

In [22]:
df_pyspark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.columns

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address']

In [25]:
df_pyspark.head(7)

[Row(id=1, first_name='Ava', last_name='Ede', email='aede0@discovery.com', gender='Genderqueer', ip_address='145.255.246.166'),
 Row(id=2, first_name='Marylin', last_name='Riggott', email='mriggott1@npr.org', gender='Agender', ip_address='247.13.134.128'),
 Row(id=3, first_name='Caryn', last_name='Seals', email='cseals2@yellowpages.com', gender='Female', ip_address='108.128.91.174'),
 Row(id=4, first_name='Danella', last_name='MacConnell', email='dmacconnell3@reverbnation.com', gender='Female', ip_address='171.17.172.62'),
 Row(id=5, first_name='Lesley', last_name='Crookston', email='lcrookston4@psu.edu', gender='Female', ip_address='177.22.46.137'),
 Row(id=6, first_name='Guthrie', last_name='Coppock.', email='gcoppock5@last.fm', gender='Male', ip_address='226.51.108.38'),
 Row(id=7, first_name='Kaylee', last_name='Claxton', email='kclaxton6@amazon.co.jp', gender='Female', ip_address='54.29.137.68')]

In [26]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|145.255.246.166|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender| 247.13.134.128|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female| 108.128.91.174|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|  171.17.172.62|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|  177.22.46.137|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|  226.51.108.38|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|   54.29.137.68|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female| 238.24.194.134|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male| 131.168.221.50|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|113.215.167.138|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male| 167.231.45.104|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female| 114.154.85.226|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|   99.29.99.168|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|238.240.163.120|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|    72.51.37.98|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|239.109.234.212|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|   32.64.11.146|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|237.250.119.237|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|120.116.181.245|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male| 223.137.167.74|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [27]:
df_pyspark.select("first_name").show()

+----------+
|first_name|
+----------+
|       Ava|
|   Marylin|
|     Caryn|
|   Danella|
|    Lesley|
|   Guthrie|
|    Kaylee|
|  Celestia|
|       Kim|
|      Nona|
|       Joe|
|     Tonie|
|     Arlen|
|       Lee|
|      Toni|
|     Salli|
|     Karil|
|   Jourdan|
|     Costa|
|    Delmer|
+----------+
only showing top 20 rows

In [28]:
type(df_pyspark.select("first_name"))

pyspark.sql.dataframe.DataFrame

In [29]:
df_pyspark.select(["first_name","last_name"]).show()

+----------+-----------+
|first_name|  last_name|
+----------+-----------+
|       Ava|        Ede|
|   Marylin|    Riggott|
|     Caryn|      Seals|
|   Danella| MacConnell|
|    Lesley|  Crookston|
|   Guthrie|   Coppock.|
|    Kaylee|    Claxton|
|  Celestia|     Aldren|
|       Kim|   Alenikov|
|      Nona|     Menloe|
|       Joe|  Aynscombe|
|     Tonie|     Riches|
|     Arlen|     Gwyllt|
|       Lee|   Groneway|
|      Toni|   Dombrell|
|     Salli|Marchington|
|     Karil|      Tyler|
|   Jourdan|   Chrystie|
|     Costa|     Le Leu|
|    Delmer|      Aizik|
+----------+-----------+
only showing top 20 rows

In [30]:
type(df_pyspark.select(["first_name","last_name"]))

pyspark.sql.dataframe.DataFrame

In [31]:
df_pyspark["first_name"]

Column<'first_name'>

In [32]:
df_pyspark.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('gender', 'string'),
 ('ip_address', 'string')]

In [33]:
df_pyspark.describe().show()

+-------+-----------------+----------+---------+--------------------+----------+-------------+
|summary|               id|first_name|last_name|               email|    gender|   ip_address|
+-------+-----------------+----------+---------+--------------------+----------+-------------+
|  count|             1000|      1000|     1000|                1000|      1000|         1000|
|   mean|            500.5|      null|     null|                null|      null|         null|
| stddev|288.8194360957494|      null|     null|                null|      null|         null|
|    min|                1|      Abbe|  Abraham|aandraudhc@dropbo...|   Agender| 0.209.33.211|
|    max|             1000|     Zolly|Zylberdik|zsclanderseu@utex...|Polygender|99.74.153.136|
+-------+-----------------+----------+---------+--------------------+----------+-------------+

In [34]:
df_pyspark.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('gender', 'string'),
 ('ip_address', 'string')]

In [36]:
df_pyspark.describe()

DataFrame[summary: string, id: string, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [38]:
df_pyspark.describe().show()

+-------+-----------------+----------+---------+--------------------+----------+-------------+
|summary|               id|first_name|last_name|               email|    gender|   ip_address|
+-------+-----------------+----------+---------+--------------------+----------+-------------+
|  count|             1000|      1000|     1000|                1000|      1000|         1000|
|   mean|            500.5|      null|     null|                null|      null|         null|
| stddev|288.8194360957494|      null|     null|                null|      null|         null|
|    min|                1|      Abbe|  Abraham|aandraudhc@dropbo...|   Agender| 0.209.33.211|
|    max|             1000|     Zolly|Zylberdik|zsclanderseu@utex...|Polygender|99.74.153.136|
+-------+-----------------+----------+---------+--------------------+----------+-------------+

In [92]:
#adding a column to a dataFrame
df_spark = df_pyspark.withColumn("id + 2", df_pyspark["id"]+1).show()

+---+----------+-----------+--------------------+-----------+---------------+------+
| id|first_name|  last_name|               email|     gender|     ip_address|id + 2|
+---+----------+-----------+--------------------+-----------+---------------+------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|145.255.246.166|     2|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender| 247.13.134.128|     3|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female| 108.128.91.174|     4|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|  171.17.172.62|     5|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|  177.22.46.137|     6|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|  226.51.108.38|     7|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|   54.29.137.68|     8|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female| 238.24.194.134|     9|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male| 131.168.221.50|    10|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|113.215.167.138|    11|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male| 167.231.45.104|    12|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female| 114.154.85.226|    13|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|   99.29.99.168|    14|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|238.240.163.120|    15|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|    72.51.37.98|    16|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|239.109.234.212|    17|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|   32.64.11.146|    18|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|237.250.119.237|    19|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|120.116.181.245|    20|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male| 223.137.167.74|    21|
+---+----------+-----------+--------------------+-----------+---------------+------+
only showing top 20 rows

In [86]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|145.255.246.166|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender| 247.13.134.128|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female| 108.128.91.174|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|  171.17.172.62|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|  177.22.46.137|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|  226.51.108.38|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|   54.29.137.68|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female| 238.24.194.134|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male| 131.168.221.50|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|113.215.167.138|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male| 167.231.45.104|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female| 114.154.85.226|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|   99.29.99.168|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|238.240.163.120|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|    72.51.37.98|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|239.109.234.212|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|   32.64.11.146|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|237.250.119.237|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|120.116.181.245|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male| 223.137.167.74|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [94]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|145.255.246.166|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender| 247.13.134.128|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female| 108.128.91.174|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|  171.17.172.62|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|  177.22.46.137|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|  226.51.108.38|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|   54.29.137.68|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female| 238.24.194.134|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male| 131.168.221.50|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|113.215.167.138|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male| 167.231.45.104|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female| 114.154.85.226|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|   99.29.99.168|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|238.240.163.120|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|    72.51.37.98|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|239.109.234.212|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|   32.64.11.146|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|237.250.119.237|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|120.116.181.245|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male| 223.137.167.74|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [81]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|145.255.246.166|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender| 247.13.134.128|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female| 108.128.91.174|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|  171.17.172.62|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|  177.22.46.137|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|  226.51.108.38|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|   54.29.137.68|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female| 238.24.194.134|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male| 131.168.221.50|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|113.215.167.138|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male| 167.231.45.104|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female| 114.154.85.226|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|   99.29.99.168|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|238.240.163.120|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|    72.51.37.98|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|239.109.234.212|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|   32.64.11.146|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|237.250.119.237|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|120.116.181.245|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male| 223.137.167.74|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [96]:
#deleting a column
df_pyspark=df_pyspark.drop("ip_address")

In [99]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+
| id|first_name|  last_name|               email|     gender|
+---+----------+-----------+--------------------+-----------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male|
+---+----------+-----------+--------------------+-----------+
only showing top 20 rows

In [101]:
#renaming a column
df_pyspark.withColumnRenamed("gender","sex").show()

+---+----------+-----------+--------------------+-----------+
| id|first_name|  last_name|               email|        sex|
+---+----------+-----------+--------------------+-----------+
|  1|       Ava|        Ede| aede0@discovery.com|Genderqueer|
|  2|   Marylin|    Riggott|   mriggott1@npr.org|    Agender|
|  3|     Caryn|      Seals|cseals2@yellowpag...|     Female|
|  4|   Danella| MacConnell|dmacconnell3@reve...|     Female|
|  5|    Lesley|  Crookston| lcrookston4@psu.edu|     Female|
|  6|   Guthrie|   Coppock.|   gcoppock5@last.fm|       Male|
|  7|    Kaylee|    Claxton|kclaxton6@amazon....|     Female|
|  8|  Celestia|     Aldren|caldren7@slashdot...|     Female|
|  9|       Kim|   Alenikov|kalenikov8@macrom...|       Male|
| 10|      Nona|     Menloe|  nmenloe9@goo.ne.jp|     Female|
| 11|       Joe|  Aynscombe| jaynscombea@who.int|       Male|
| 12|     Tonie|     Riches|   trichesb@java.com|     Female|
| 13|     Arlen|     Gwyllt| agwylltc@smh.com.au|       Male|
| 14|       Lee|   Groneway|lgronewayd@cpanel...|     Female|
| 15|      Toni|   Dombrell|  tdombrelle@ihg.com|     Female|
| 16|     Salli|Marchington|smarchingtonf@stu...| Polygender|
| 17|     Karil|      Tyler|      ktylerg@qq.com|     Female|
| 18|   Jourdan|   Chrystie|jchrystieh@stumbl...|     Female|
| 19|     Costa|     Le Leu|cleleui@microsoft...|       Male|
| 20|    Delmer|      Aizik|  daizikj@taobao.com|       Male|
+---+----------+-----------+--------------------+-----------+
only showing top 20 rows